{% load static %}

<!DOCTYPE html>

<html>
    
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap">
        <link rel="stylesheet" href="{% static 'base.css' %}">
        {% block extra_css %}{% endblock %}
        

    </head>

    <body>
        {% include "header.html" %}

        {% block content %}{% endblock %}

        {% include "footer.html" %}
    </body>

</html>