<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <meta charset="UTF-8">
        <title>Home Page</title>
    </head>
    <body>

        <header>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        </header>

        <h1><a href="{% url 'catalog' %}">Каталог</a></h1>
        <h1>Топ товари</h1>
        <h1>Спеціальна пропозиція</h1>
        <h1>По акції</h1>

    </body>
</html>